# Procesamiento de datos y álgebra lineal
numpy
pandas

# Visualización de datos
matplotlib
seaborn

# Machine Learning (Modelos Lineales y Árboles)
scikit-learn

# Deep Learning (Redes Neuronales)
tensorflow
keras

# Procesamiento de imágenes (usado internamente por los cargadores)
pillow
